<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, create_time, update_time, create_user, update_user)
        VALUES (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser})

    </insert>
    <delete id="deletBatch">
        delete from dish where id in
        <foreach collection="dishIds" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>
    <select id="selectPageQuery" resultType="com.sky.vo.DishVO">
        select d.*,ca.name categoryName from dish as d left join category as ca on d.category_id = ca.id
        <where>
            <if test="name !=null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="status !=null">
                and status=#{status}
            </if>
            <if test="categoryId !=null">
                and category_id=#{categoryId}
            </if>
        </where>
    </select>
    <select id="selectByIds" resultType="com.sky.entity.Dish"  >
        select * from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </select>
</mapper>
